
<%= content_tag "div", id: "nofa", data: {url: nofa_path} do %>

  <p>-</p>

  <!-- WILL BE INSERTED BY AJAX CALL -->

  <!--p>Number of Answers : <%= @active_question_count %></p-->

<% end %>
