/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= XXXXrequire twitter/bootstrap
 *= require bootstrap.min
 *= require_self
 *= require_tree .
 *
 */

html body {
	background-color: #f5f5f5;
}

#tdyes {
//	background-color: #5a5;
	background-color: rgba(85, 170, 85, 0.5);
	font-weight: bold;
	color: black;
}

#tdno {
	background-color: rgba(47, 126, 216, 0.5);
	font-weight: bold;
	color: black;
}

#tdabs {
	background-color: rgba(119, 119, 119, 0.5);
	font-weight: bold;
	color: black;
}
